@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}



.search-input-changing-animation {
    animation-name: slideInRight;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

@keyframes slideInRight {
    from {
        transform: translateX(30%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.home__new-slider {
    position: relative;
    right: 0;
    transition: all 1s ease;
}